body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(122, 126, 148, 0.52),
      rgba(0, 0, 0, 0.799)
    ),
    url(image/donation5.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 450px;
  width: 100%;
}

.text-header h1 {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.text-header p {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 13px;
  opacity: 0.8;
}

.text-header {
  padding-top: 140px;
}

.donate-now {
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 30px;
}
.donate-now a {
  padding: 10px 30px;
  background-color: rgb(230, 119, 100);
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.donate-text {
  margin-top: 50px;
  text-align: center;
}

.donate-text p {
  font-size: 13px;
  color: gray;
}

.donate-amount {
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.donate-amount .box {
  height: 40px;
  width: 90px;
  margin-left: 10px;
  text-align: center;
  padding-top: 20px;
  background-color: rgb(241, 241, 241);
}

.box-style {
  background-color: antiquewhite;
  border: 2px solid tomato;
}

.amount {
  text-align: center;
}

.amount input {
  width: 500px;
  border: none;
  border-bottom: 1px solid rgb(77, 77, 77);
  padding: 10px 10px;
}
input::placeholder {
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

.amount a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  padding: 8px 20px;
  background-color: tomato;
  color: white;
  border-radius: 5px;
}

.donate-plan-box {
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.donate-plan-box .boxx {
  height: 200px;
  width: 250px;
  margin-left: 10px;
  padding-top: 20px;
  border-radius: 5px;
}

.boxx img,
h3,
p {
  padding-left: 20px;
  padding-right: 5px;
}

.boxx img {
  width: 15%;
}

.boxx p {
  color: gray;
  font-size: 10px;
}

.box1 {
  background-color: rgb(241, 241, 241);
}

.box2 {
  background-color: rgb(252, 227, 222);
}

.box3 {
  background-color: antiquewhite;
}

.donate-plan {
  margin-bottom: 200px;
}

.contribute {
  display: flex;
  justify-content: center;
}

.contribute-left p,
h1 {
  margin: 0px;
  padding: 0px;
  margin-right: 5px;
}

.contribute-left {
  width: 40%;
}

.img-contribute {
  width: 30%;
}

.img-contribute img {
  object-fit: contain;
  object-position: center;
  height: 300px;
  width: 100%;
}

.contribute-left p {
  font-size: 13px;
  color: gray;
}

.contribute-left a {
  text-decoration: none;
  font-size: 13px;
  background-color: tomato;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
}

.contribute-right {
  width: 40%;
  padding-left: 30px;
}

.contribute-right p,
h1 {
  margin: 0px;
  padding: 0px;
  margin-right: 5px;
}

.contribute-right p {
  font-size: 13px;
  color: gray;
}
.contribute-right a {
  text-decoration: none;
  font-size: 13px;
  background-color: tomato;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
}
